<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <!-- Window Action -->
  <record id="action_asset_management" model="ir.actions.act_window">
    <field name="name">Assets</field>
    <field name="res_model">asset.management</field>
    <field name="view_mode">list,form</field>
    <field name="help" type="html">
      <p class="o_view_nocontent_smiling_face">
        Create a new asset.
      </p>
    </field>
  </record>

  <!-- Menu Item -->
  <!-- We place it inside the main Employees menu -->
  <menuitem id="menu_asset_management_root"
    name="Assets"
    parent="hr.menu_hr_root"
    action="action_asset_management"
    sequence="50" />
</odoo>
