<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record id="action_asset_management" model="ir.actions.act_window">
    <field name="name">Equipment</field>
    <field name="res_model">asset.management</field>
    <field name="view_mode">kanban,list,form</field>
    <field name="search_view_id" ref="view_asset_management_search" />
  </record>

  <record id="action_asset_category" model="ir.actions.act_window">
    <field name="name">Equipment Categories</field>
    <field name="res_model">asset.category</field>
    <field name="view_mode">list,form</field>
  </record>


  <!-- MENU ITEMS -->
  <menuitem
    id="menu_asset_management_root"
    name="Equipment"
    parent="hr.menu_hr_root"
    sequence="50"
  />

  <menuitem
    id="menu_equipment_list"
    name="Equipment List"
    parent="menu_asset_management_root"
    action="action_asset_management"
    sequence="10"
  />

  <menuitem
    id="menu_asset_configuration"
    name="Configuration"
    parent="menu_asset_management_root"
    sequence="100"
    groups="om_asset_management.group_asset_manager"
  />

  <menuitem
    id="menu_asset_category"
    name="Equipment Categories"
    parent="menu_asset_configuration"
    action="action_asset_category"
    sequence="10"
  />
</odoo>
